:root {
    --navbar-bg-color: #111;
    --color-brand: #ff5722;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../resources/fonts/Helvetica.ttf);
}

@font-face {
    font-family: 'Helvetica-bold';
    src: url(../resources/fonts/Helvetica-Bold.ttf);
}

* {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Helvetica';
}

.mission-section {
    min-height: 443.4px;
    background-color: #1D1C1C;
    max-width: 100%;
}

.mission-sec-title {
    font-size: 53.5px !important;
}

.mission-sec-description {
    font-size: 47px !important;
}

.brand-color {
    color: var(--color-brand) !important;
}

.abs-pos {
    position: relative !important;
    bottom: 35px;
    left: 170px;

}

.section-title-about {
    color: var(--color-brand) !important;
    font-family: 'Helvetica-bold';
    margin-right: 133px !important;
    margin-top: 90px !important;
}

.card {
    width: 25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
    transition: 0.6s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-title {
    color: var(--color-brand);
    font-family: 'Helvetica-bold';
    font-size: 1.6em !important;
}

.card-text {
    text-align: justify;
}

.container-benefits {
    margin:auto !important;
    width: 90% !important;
}

.title-each-benefit {
    font-family: 'Helvetica-bold';
    margin-bottom: 20px !important;
    font-size: 1.8em !important;
}

.benefits-group {
    margin-top: 62px !important;
    width: 90% !important;
}

.content-benefits {
    margin-bottom: 48px !important;
    text-align: justify;
}

.img-third-section-about {
    height: 500px;
}

.final-desc-benefits {
    width: 40% !important;
    text-align: justify;
    margin: auto !important;
    margin-top: 40px !important;
    margin-bottom: 120px !important;
}


@media only screen and (max-width: 1290px) {
    .card-container-groups {
        display: inline-block !important;
    }

    .card {
        margin-bottom: 80px !important;
    }

}

@media only screen and (max-width: 420px) {

    .mission-sec-title,
    .mission-sec-description {
        font-size: 1.9rem !important;
    }

    .abs-pos {
        left: 100px;
        bottom:25px;
        height: 2.6em !important;
    }

    .card {
        padding: 60px !important;
        width: 87% !important;
        margin: auto !important;
        margin-bottom: 40px !important;
    }

    .card-title, .card-text {
        font-size: 0.9em !important;
    }
}

