:root {
    --navbar-bg-color: #111;
    --color-brand: #ff5722;
}

@media only screen and (max-width: 660.11px) {
    .section-image {
        height: 290px;
        position: absolute;
        right: -50px;
        top: 230px;
    }

    .custom-section-container {
        text-align: start !important;
        display: inline-block !important;
    }

    .text-adjectives,
    .interactive-brand {
        font-size: 30px !important;
    }

    #resp-title-mobile {
        font-size: 3em !important;
    }

    .check-more-btn {
        font-size: 19px !important;
    }

}

@media only screen and (max-width: 620.11px),
       (min-width: 414.2px) and (max-width: 611px) {

    .brand-text {
        font-size: 50px;
        padding-right: 20px !important;
    }

    .section-image {
        display: none !important;
    }

    .custom-section-container {
        text-align: center !important;
    }
    
    #resp-title-mobile {
        font-size: 2.6em !important;
    }

    .text-adjectives,
    .interactive-brand {
        font-size: 26px !important;
    }

    .descriptions-system {
        margin-left: 0 !important;
    }

    .spaces-cst {
        margin-left: 0px !important;
    }

    .logo-position {
        height: 103px;
        position: relative;
        bottom: -28px;
    }

    .brand-text {
        letter-spacing: 0px !important;
        bottom: -30px !important;
        font-size: 2em;
    }

    #vert-line {
        display: none;
    }

    .navbar-toggler-icon {
        position: relative;
        top: 0px;
        margin-right: 20px !important;
    }
}